<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Random Useless Fact</title>
  <link rel="stylesheet" href="/main.css" />
</head>
<body>
  <div class="container">
    <h1>😄 RANDOM <span>USELESS FACT</span></h1>
    <form action="/Find_Fact" method="POST" >
    <div class="fact-box" id="factBox">
      <%= Fact %>
    </div>
    <button id="nextBtn">NEXT FACT</button>
  </div>
  </form>

  <script src="script.js"></script>
</body>
</html>